<style>
  @page {
    size: A4;
    margin: 0;
  }
  .page {
    width: 794px;
    height: 1123px;
    padding: 50px 60px;
    box-sizing: border-box;
    overflow: hidden;
    page-break-after: always;
    position: relative;
    font-family: "DejaVu Serif", "Liberation Serif", Georgia, "Helvetica", Arial, "DejaVu Sans", "Liberation Sans";
  }
  .page:last-child {
    page-break-after: auto;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  td {
    padding: 5px 0;
    vertical-align: top;
  }
  .header-title {
    text-align: center;
    font-size: 24pt;
    margin-bottom: 20px;
  }
  .section-heading {
    font-size: 14pt;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .form-group {
    display: flex;
    align-items: center;
  }
  .form-group label {
    margin-right: 10px;
    font-weight: normal;
  }
  .input-field {
    border-bottom: 1px solid #000;
    flex-grow: 1;
    padding: 0 5px;
  }
  .signature-line {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
</style>

<div class="page">
  <div style="text-align: center;">
    <div style="font-size: 30pt; margin-bottom: 10px;">&amp;</div>
    <div style="font-size: 30pt; margin-bottom: 30px;">&amp;</div>
  </div>
  <div style="text-align: center;">
    <h1 style="font-size: 24pt; margin-bottom: 5px;">LE GRAND BAL 2022</h1>
    <h2 style="font-size: 18pt; margin-top: 0;">ENTRY FORMS</h2>
    <p style="margin-top: 20px;">Non-Employee</p>
    <div style="margin-top: 30px;">&amp;</div>
  </div>
  <div style="text-align: center; margin-top: 100px;">
    <p style="font-size: 12pt;">LAMAR UNIVERSITY</p>
  </div>
</div>

<div class="page">
  <div style="text-align: center;">
    <div style="font-size: 20pt;">&amp;</div>
    <div style="font-size: 20pt;">&amp;</div>
    <h1 style="font-size: 18pt; margin-top: 10px;">COLLEGE OF FINE ARTS &amp; COMMUNICATION</h1>
    <h2 style="font-size: 16pt;">LAMAR UNIVERSITY</h2>
    <p style="font-size: 12pt;">Department of Art &amp; Design</p>
  </div>

  <div style="text-align: center; margin-top: 40px;">
    <p style="font-size: 14pt;">ARTWORK AUCTION ENTRY FORM: <span data-field="auction_name">{{ auction_name }}</span></p>
    <p style="font-size: 12pt;">Please Print</p>
  </div>

  <table style="margin-top: 30px;">
    <tr>
      <td style="width: 25%;">Date Received:</td>
      <td style="width: 25%;"><span data-field="date_received">{{ date_received }}</span></td>
      <td style="width: 25%;">Date Returned:</td>
      <td style="width: 25%;"><span data-field="date_returned">{{ date_returned }}</span></td>
    </tr>
    <tr>
      <td style="width: 25%;">NAME:</td>
      <td style="width: 25%;"><span data-field="full_name">{{ full_name }}</span></td>
      <td style="width: 25%;">Initials:</td>
      <td style="width: 25%;"><span data-field="initials">{{ initials }}</span></td>
    </tr>
    <tr>
      <td style="width: 25%;">ADDRESS:</td>
      <td style="width: 25%;"><span data-field="address">{{ address }}</span></td>
      <td style="width: 25%;">CITY:</td>
      <td style="width: 25%;"><span data-field="city">{{ city }}</span></td>
    </tr>
    <tr>
      <td style="width: 25%;">STATE:</td>
      <td style="width: 25%;"><span data-field="state">{{ state }}</span></td>
      <td style="width: 25%;">ZIP:</td>
      <td style="width: 25%;"><span data-field="zip_code">{{ zip_code }}</span></td>
    </tr>
    <tr>
      <td style="width: 25%;">EMAIL:</td>
      <td style="width: 25%;"><span data-field="email">{{ email }}</span></td>
      <td style="width: 25%;">BEST PHONE:</td>
      <td style="width: 25%;"><span data-field="phone_number">{{ phone_number }}</span></td>
    </tr>
  </table>

  <div style="margin-top: 30px;">
    <p>Please Check 1: Student (<input type="checkbox">) Faculty (<input type="checkbox">) Alumni (<input type="checkbox">) Friend (<input type="checkbox">)</p>
  </div>

  <div style="margin-top: 30px;">
    <p>1. Title of artwork: <span data-field="artwork_title_1">{{ artwork_title_1 }}</span></p>
    <div class="form-row">
      <div class="form-group">
        Medium: <span data-field="artwork_medium_1">{{ artwork_medium_1 }}</span>
      </div>
      <div class="form-group">
        Size: <span data-field="artwork_size_1">{{ artwork_size_1 }}</span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        Grand Bal Minimum Bid: $<span data-field="min_bid_1">{{ min_bid_1 }}</span>
      </div>
      <div class="form-group">
        Grand Bal # (office use only): <span data-field="grand_bal_id_1">{{ grand_bal_id_1 }}</span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        Fair Market Value: $<span data-field="fair_market_value_1">{{ fair_market_value_1 }}</span>
      </div>
      <div class="form-group">
        Condition: <span data-field="artwork_condition_1">{{ artwork_condition_1 }}</span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        Presale Buy It Now Price: $<span data-field="presale_buy_it_now_1">{{ presale_buy_it_now_1 }}</span>
      </div>
      <div class="form-group">
        (presales close the day before the auction)
      </div>
    </div>
  </div>

  <div style="margin-top: 30px;">
    <p>2. Title of artwork: <span data-field="artwork_title_2">{{ artwork_title_2 }}</span></p>
    <div class="form-row">
      <div class="form-group">
        Medium: <span data-field="artwork_medium_2">{{ artwork_medium_2 }}</span>
      </div>
      <div class="form-group">
        Size: <span data-field="artwork_size_2">{{ artwork_size_2 }}</span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        Grand Bal Minimum Bid: $<span data-field="min_bid_2">{{ min_bid_2 }}</span>
      </div>
      <div class="form-group">
        Grand Bal # (office use only): <span data-field="grand_bal_id_2">{{ grand_bal_id_2 }}</span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        Fair Market Value: $<span data-field="fair_market_value_2">{{ fair_market_value_2 }}</span>
      </div>
      <div class="form-group">
        Condition: <span data-field="artwork_condition_2">{{ artwork_condition_2 }}</span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        Presale Buy It Now Price: $<span data-field="presale_buy_it_now_2">{{ presale_buy_it_now_2 }}</span>
      </div>
      <div class="form-group">
        (presales close the day before the auction)
      </div>
    </div>
  </div>

  <div style="margin-top: 30px;">
    <p>3. Title of artwork: <span data-field="artwork_title_3">{{ artwork_title_3 }}</span></p>
    <div class="form-row">
      <div class="form-group">
        Medium: <span data-field="artwork_medium_3">{{ artwork_medium_3 }}</span>
      </div>
      <div class="form-group">
        Size: <span data-field="artwork_size_3">{{ artwork_size_3 }}</span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        Grand Bal Minimum Bid: $<span data-field="min_bid_3">{{ min_bid_3 }}</span>
      </div>
      <div class="form-group">
        Grand Bal # (office use only): <span data-field="grand_bal_id_3">{{ grand_bal_id_3 }}</span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        Fair Market Value: $<span data-field="fair_market_value_3">{{ fair_market_value_3 }}</span>
      </div>
      <div class="form-group">
        Condition: <span data-field="artwork_condition_3">{{ artwork_condition_3 }}</span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        Presale Buy It Now Price: $<span data-field="presale_buy_it_now_3">{{ presale_buy_it_now_3 }}</span>
      </div>
      <div class="form-group">
        (presales close the day before the auction)
      </div>
    </div>
  </div>

  <p style="margin-top: 50px; font-size: 10pt;">Please note: All unsold works not claimed within 14 days of the auction become property of the Department of Art &amp; Design. The Art Department of Art &amp; Design is not responsible for the artwork.</p>
</div>

<div class="page">
  <div style="text-align: center;">
    <h1 style="font-size: 24pt;">Le Grand Bal Art Auction</h1>
    <h2 style="font-size: 18pt;">Signature Sheet</h2>
  </div>
  <div style="text-align: center; margin-top: 30px;">
    <p>Your Entry Is Not Complete Until Signature Sheet Is Signed.</p>
  </div>

  <div style="margin-top: 50px;">
    <p>Your signature below constitutes agreement to the following terms:</p>
    <p>Participating artists will receive 40% of the final bid price on artworks. The remaining 60% will be retained by the College of Fine Arts and Communication for student scholarships.</p>
    <p>All artworks submitted to the Silent Auction of Le Grand Bal are auction items benefiting student scholarships in the Department of Art &amp; Design, College of Fine Arts and Communication, Lamar University. Any artworks bid on, but not paid for, will be returned to the artist within one month of Le Grand Bal. Any artworks unclaimed by the artist within two weeks of the Silent Auction (if unsold) or two weeks after notification of non-payment by a bidder, will become property of the Department of Art &amp; Design.</p>
  </div>

  <div class="signature-line">
    <div style="text-align: left;">
      <p>Chair, Department of Art &amp; Design</p>
      <p style="margin-top: 50px; border-top: 1px solid #000; width: 200px;"></p>
      <p>Date</p>
    </div>
    <div style="text-align: right;">
      <p>Artist Signature</p>
      <p style="margin-top: 50px; border-top: 1px solid #000; width: 200px;"></p>
      <p>Date</p>
    </div>
  </div>
</div>

<div class="page">
  <div style="text-align: center;">
    <h2 style="font-size: 18pt;">Students/Artists Who Have Never Worked for Lamar in Any Way</h2>
    <p>Information for Determining Employee/Contractor Status</p>
  </div>

  <div style="margin-top: 30px;">
    <div class="form-row">
      <div class="form-group">
        Worker's Name: <span data-field="worker_name">{{ worker_name }}</span>
      </div>
      <div class="form-group">
        Date: <span data-field="date_worker">{{ date_worker }}</span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        Proposed Date of Service: <span data-field="proposed_date_of_service">{{ proposed_date_of_service }}</span>
      </div>
      <div class="form-group">
        Worker's LU#: <span data-field="worker_lu_number">{{ worker_lu_number }}</span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        Services to be Rendered: <span data-field="services_to_be_rendered">{{ services_to_be_rendered }}</span>
      </div>
      <div class="form-group">
        Artwork for Friends of the Art Le Grand Bal Silent Auction 2022
      </div>
    </div>
  </div>

  <div style="margin-top: 40px;">
    <table style="width: 100%;">
      <tr>
        <td style="width: 5%;">X</td>
        <td style="width: 5%;">X</td>
        <td style="width: 5%;">X</td>
        <td style="width: 5%;">X</td>
        <td style="width: 5%;">X</td>
        <td style="width: 5%;">X</td>
      </tr>
      <tr>
        <td><span data-field="checkbox_1">{{ checkbox_1 }}</span> This worker has been an employee of Lamar for the past 12 months.</td>
      </tr>
      <tr>
        <td><span data-field="checkbox_2">{{ checkbox_2 }}</span> This worker will have a Purchase Order processed for payment of these services.</td>
      </tr>
      <tr>
        <td><span data-field="checkbox_3">{{ checkbox_3 }}</span> This worker provides similar services to the public.</td>
      </tr>
      <tr>
        <td><span data-field="checkbox_4">{{ checkbox_4 }}</span> This worker represents to the public that he is in the business of providing similar services to the public.</td>
      </tr>
      <tr>
        <td><span data-field="checkbox_5">{{ checkbox_5 }}</span> This worker is required to provide all the required tools, materials, and supplies necessary to complete the work.</td>
      </tr>
      <tr>
        <td><span data-field="checkbox_6">{{ checkbox_6 }}</span> This worker is paid on a "per job" basis. The time necessary to complete the work does not affect the worker's remuneration.</td>
      </tr>
      <tr>
        <td><span data-field="checkbox_7">{{ checkbox_7 }}</span> All expenses associated with the performance of these services, including travel and meals are borne by this worker.</td>
      </tr>
      <tr>
        <td><span data-field="checkbox_8">{{ checkbox_8 }}</span> This worker may hire and supervise others to assist in completion of the work. The decision to hire is solely in the control of the worker.</td>
      </tr>
      <tr>
        <td><span data-field="checkbox_9">{{ checkbox_9 }}</span> Assistants hired by this worker are subject to review by the University.</td>
      </tr>
      <tr>
        <td><span data-field="checkbox_10">{{ checkbox_10 }}</span> Any compensation paid to assistants is borne by this worker and in no way affects the agreed upon remuneration.</td>
      </tr>
      <tr>
        <td><span data-field="checkbox_11">{{ checkbox_11 }}</span> Where services are required to be performed on the University's property, the University may require that services be performed within certain hours, but cannot require that this worker by present at any specific time during those hours.</td>
      </tr>
      <tr>
        <td><span data-field="checkbox_12">{{ checkbox_12 }}</span> Lamar does have the right to control the services performed.</td>
      </tr>
      <tr>
        <td><span data-field="checkbox_13">{{ checkbox_13 }}</span> Lamar does train the worker.</td>
      </tr>
      <tr>
        <td><span data-field="checkbox_14">{{ checkbox_14 }}</span> This worker does report to a Lamar employee.</td>
      </tr>
      <tr>
        <td><span data-field="checkbox_15">{{ checkbox_15 }}</span> This worker may be discharged at any time without Lamar incurring liability.</td>
      </tr>
      <tr>
        <td><span data-field="checkbox_16">{{ checkbox_16 }}</span> This worker may quit at any time without incurring liability.</td>
      </tr>
      <tr>
        <td><span data-field="checkbox_17">{{ checkbox_17 }}</span> The service provided by this worker shall be performed for the time period covered in this worker's contract. Neither this worker nor the University has the right or obligation to provide or receive services for any period beyond that covered by the contract.</td>
      </tr>
    </table>
  </div>

  <div style="margin-top: 50px;">
    <p>Office use only:</p>
    <div class="form-row">
      <div class="form-group">
        Completed by: <span data-field="office_completed_by">{{ office_completed_by }}</span>
      </div>
      <div class="form-group">
        LU Phone: <span data-field="office_lu_phone">{{ office_lu_phone }}</span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        Payment Information:
        <div style="display: flex; margin-left: 10px;">
          <span data-field="pay_as_hourly">{{ pay_as_hourly }}</span> Hourly
          <span data-field="pay_as_salary">{{ pay_as_salary }}</span> Salary
          <span data-field="pay_as_lump_sum">{{ pay_as_lump_sum }}</span> Lump Sum
          <span data-field="pay_as_other">{{ pay_as_other }}</span> Other-Describe: <span data-field="other_description">{{ other_description }}</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        Reviewed by: <span data-field="reviewed_by">{{ reviewed_by }}</span>
      </div>
      <div class="form-group">
        Date: <span data-field="review_date">{{ review_date }}</span>
      </div>
    </div>
  </div>
</div>

<div class="page">
  <div style="text-align: center;">
    <h1 style="font-size: 24pt;">W-9</h1>
    <p style="font-size: 12pt;">Request for Taxpayer Identification Number and Certification</p>
  </div>

  <div style="margin-top: 20px;">
    <p style="font-size: 10pt;">* Go to www.irs.gov/FormW9 for instructions and the latest information.</p>
  </div>

  <div style="margin-top: 30px;">
    <div class="form-row">
      <div class="form-group" style="width: 50%;">
        1 Name (as shown on your income tax return). Name is required on this line. Do not leave this line blank.
        <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="w9_name">{{ w9_name }}</span>
        </div>
      </div>
      <div class="form-group" style="width: 50%;">
        2 Business name/disregarded entity name, if different from above
        <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="w9_business_name">{{ w9_business_name }}</span>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-top: 30px;">
    <p>3 Check appropriate box for federal tax classification of the person whose name is provided on line 1. Check only one of the following boxes:</p>
    <div style="margin-top: 10px;">
      <input type="checkbox" id="individual" name="tax_type"> <label for="individual">Individual/sole proprietor or single-member LLC</label>
      <input type="checkbox" id="corp" name="tax_type"> <label for="corp">C Corporation</label>
      <input type="checkbox" id="partnership" name="tax_type"> <label for="partnership">S Corporation</label>
      <input type="checkbox" id="trust" name="tax_type"> <label for="trust">Partnership</label>
      <input type="checkbox" id="trustee" name="tax_type"> <label for="trustee">Trust/estate</label>
    </div>
    <p style="margin-top: 15px;">*Note: If you select "Individual/sole proprietor or single-member LLC", you must provide your Taxpayer Identification Number (TIN) on line 1. If you select "C Corporation", "S Corporation", "Partnership", or "Trust/estate", you must provide the Employer Identification Number (EIN) on line 1.</p>
  </div>

  <div style="margin-top: 30px;">
    <p>5 Address (number, street, and apt. or suite no.) See instructions.</p>
    <div style="border-bottom: 1px solid #000; width: 70%;">
      <span data-field="w9_address">{{ w9_address }}</span>
    </div>
  </div>

  <div style="margin-top: 30px;">
    <div class="form-row">
      <div class="form-group" style="width: 50%;">
        Requester's name and address (optional)
        <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="requester_name_address">{{ requester_name_address }}</span>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-top: 40px;">
    <p>Part I Taxpayer Identification Number (TIN)</p>
    <p>Enter your TIN in the appropriate box. The TIN provided must match the name given on line 1 to avoid backup withholding. For individuals, this is generally your Social Security Number (SSN). However, for a business, it is generally your Employer Identification Number (EIN). If you do not have a number, see How to get a TIN.</p>
    <p>Note: If the account is more than one name, see the instructions for line 1. Also see What Name and TIN, later.</p>
    <div style="margin-top: 20px;">
      <div class="form-row">
        <div class="form-group" style="width: 50%;">
          Social security number
          <div style="border-bottom: 1px solid #000; width: 70%;">
            <span data-field="ssn">{{ ssn }}</span>
          </div>
        </div>
        <div class="form-group" style="width: 50%;">
          Employer identification number
          <div style="border-bottom: 1px solid #000; width: 70%;">
            <span data-field="ein">{{ ein }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-top: 40px;">
    <p>Part II Certification</p>
    <p>Under penalties of perjury, I certify that:</p>
    <ol>
      <li>The number shown on this form is my correct taxpayer identification number (or I am exempt from backup withholding, or I have not been notified by the Internal Revenue Service (IRS) that I am subject to backup withholding as a result of a failure to report all interest or dividends, or the IRS has notified me that I am no longer subject to backup withholding).</li>
      <li>I am a U.S. citizen or U.S. person (defined below); and</li>
      <li>The FATCA code(s) entered on this form (if any) indicating that I am exempt from FATCA reporting is correct.</li>
    </ol>
    <p style="margin-top: 20px;">Certification Instructions: You must cross out item 2 above if you have been notified by the IRS that you are currently subject to backup withholding. If you do not make this change, you may be subject to a penalty. For mortgage interest paid, acquisition or abandonment of secured property, cancellation of debt, contributions to an individual retirement arrangement (IRA), and generally, payments other than interest and dividends, you are not required to sign this certification, but you must provide your correct TIN.</p>
  </div>

  <div style="margin-top: 50px;">
    <div class="form-row">
      <div class="form-group" style="width: 50%;">
        Sign
        <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="w9_signature">{{ w9_signature }}</span>
        </div>
        U.S. person
      </div>
      <div class="form-group" style="width: 50%;">
        Date
        <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="w9_date">{{ w9_date }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page">
  <div style="text-align: center;">
    <h1 style="font-size: 24pt;">New Vendor Information</h1>
  </div>

  <p style="text-align: center; margin-top: 20px;">Lamar University requires a Purchase Order for purchases. All Purchase Orders will be electronically mailed or faxed. INVOICES MAY BE SENT TO: AccountsPayable@lamar.edu.</p>

  <div style="text-align: center; margin-top: 30px;">
    <p style="font-size: 12pt;">The following information is required in order to accurately process a Purchase Order or remit Payment.</p>
  </div>

  <div style="margin-top: 40px;">
    <div class="form-row">
      <div class="form-group" style="width: 50%;">
        Company Name: <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="vendor_company_name">{{ vendor_company_name }}</span>
        </div>
      </div>
      <div class="form-group" style="width: 50%;">
        Employer Identification Number(EIN): <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="vendor_ein">{{ vendor_ein }}</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group" style="width: 50%;">
        Owner's Name if not Incorporated: <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="vendor_owner_name">{{ vendor_owner_name }}</span>
        </div>
      </div>
      <div class="form-group" style="width: 50%;">
        Sole Proprietors: Owner's Social Security Number/FEI: <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="vendor_ssn_fei">{{ vendor_ssn_fei }}</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group" style="width: 50%;">
        Partnership: <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="vendor_partnership_name">{{ vendor_partnership_name }}</span>
        </div>
      </div>
      <div class="form-group" style="width: 50%;">
        Partner 1 Name and Social Security Number/FEI: <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="vendor_partner1_ssn_fei">{{ vendor_partner1_ssn_fei }}</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group" style="width: 50%;">
        Partner 2 Name and Social Security Number/FEI: <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="vendor_partner2_ssn_fei">{{ vendor_partner2_ssn_fei }}</span>
        </div>
      </div>
      <div class="form-group" style="width: 50%;">
        Order from Address:
        <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="vendor_order_address">{{ vendor_order_address }}</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group" style="width: 50%;">
        City, State and Zip Code: <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="vendor_city_state_zip">{{ vendor_city_state_zip }}</span>
        </div>
      </div>
      <div class="form-group" style="width: 50%;">
        Remit to Address:
        <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="vendor_remit_address">{{ vendor_remit_address }}</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group" style="width: 50%;">
        City, State and Zip Code: <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="vendor_remit_city_state_zip">{{ vendor_remit_city_state_zip }}</span>
        </div>
      </div>
      <div class="form-group" style="width: 50%;">
        Telephone Number: <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="vendor_phone_number">{{ vendor_phone_number }}</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group" style="width: 50%;">
        Vendor Contact and Title: <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="vendor_contact_title">{{ vendor_contact_title }}</span>
        </div>
      </div>
      <div class="form-group" style="width: 50%;">
        Contact Telephone Number: <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="vendor_contact_phone">{{ vendor_contact_phone }}</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group" style="width: 50%;">
        Fax Number: <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="vendor_fax_number">{{ vendor_fax_number }}</span>
        </div>
      </div>
      <div class="form-group" style="width: 50%;">
        Contact Email Address: <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="vendor_email_address">{{ vendor_email_address }}</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group" style="width: 50%;">
        If Texas Corporation Charter Number: <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="vendor_texas_charter_number">{{ vendor_texas_charter_number }}</span>
        </div>
      </div>
      <div class="form-group" style="width: 50%;">
        If Professional Association Charter Number: <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="vendor_professional_association_charter_number">{{ vendor_professional_association_charter_number }}</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group" style="width: 50%;">
        If Limited Partnership File Number: <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="vendor_limited_partnership_file_number">{{ vendor_limited_partnership_file_number }}</span>
        </div>
      </div>
      <div class="form-group" style="width: 50%;">
        If a Texas Certified HUB Vendor Certification Number: <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="vendor_hub_certification_number">{{ vendor_hub_certification_number }}</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group" style="width: 50%;">
        HUB Classification: <div style="border-bottom: 1px solid #000; width: 70%;">
          <span data-field="vendor_hub_classification">{{ vendor_hub_classification }}</span>
        </div>
      </div>
    </div>
  </div>
</div>