<style>
  @page {
    size: A4;
    margin: 0;
  }
  .page {
    width: 794px;
    height: 1123px;
    padding: 50px 60px;
    box-sizing: border-box;
    overflow: hidden;
    page-break-after: always;
    position: relative;
    font-family: "DejaVu Serif", "Liberation Serif", Georgia, "Times New Roman", serif;
  }
  .page:last-child {
    page-break-after: auto;
  }
  h1, h2, h3 {
    font-family: "DejaVu Sans", "Liberation Sans", Arial, sans-serif;
  }
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    line-height: 1.5;
  }
  .form-group {
    display: flex;
    align-items: center;
    width: 48%;
  }
  .form-group > div {
    flex-grow: 1;
  }
  .label-text {
    font-weight: bold;
    margin-right: 10px;
  }
  .input-line {
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
    margin-top: 5px;
  }
  .signature-block {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .signature-area {
    width: 45%;
  }
  .signature-line {
    border-bottom: 1px solid #000;
    margin-top: 50px;
  }
</style>

<div class="page">
  <div style="text-align: center; margin-bottom: 40px;">
    <h1 style="font-size: 24pt; margin: 0;">LOUISIANA TECH</h1>
    <h2 style="font-size: 18pt; margin: 5px 0 0 0;">UNIVERSITY</h2>
  </div>

  <h3 style="text-align: center; margin-bottom: 30px;">PROCTOR APPROVAL FORM</h3>

  <p style="margin-bottom: 20px;">To be completed by the student:</p>

  <div class="form-row">
    <div class="form-group">
      <span class="label-text">CWID:</span>
      <div class="input-line" data-field="cwid">{{ cwid }}</div>
    </div>
    <div class="form-group">
      <span class="label-text">First Name:</span>
      <div class="input-line" data-field="first_name">{{ first_name }}</div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <span class="label-text">Last Name:</span>
      <div class="input-line" data-field="last_name">{{ last_name }}</div>
    </div>
    <div class="form-group">
      <span class="label-text">LaTech E-mail Only:</span>
      <div class="input-line" data-field="latech_e_mail_only">{{ latech_e_mail_only }}</div>
    </div>
  </div>

  <p style="margin-bottom: 20px;"><strong>Note:</strong> <span data-field="note_warning">{{ note_warning }}</span></p>

  <div class="form-row" style="margin-bottom: 30px;">
    <div class="form-group" style="width: 100%;">
      <input type="checkbox" style="margin-right: 10px;">
      I will be testing, on location, at the Louisiana Tech HIIIM Department
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <span class="label-text">Classes:</span>
      <div class="input-line" style="width: 100%;" data-field="classes">{{ classes }}</div>
    </div>
  </div>

  <p style="margin-top: 40px;">To be completed by the proctor:</p>

  <div class="form-row">
    <div class="form-group">
      <span class="label-text">Name/Title:</span>
      <div class="input-line" data-field="name_title">{{ name_title }}</div>
    </div>
    <div class="form-group">
      <span class="label-text">City, State:</span>
      <div class="input-line" data-field="city_state">{{ city_state }}</div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <span class="label-text">Business Name:</span>
      <div class="input-line" data-field="business_name">{{ business_name }}</div>
    </div>
    <div class="form-group">
      <span class="label-text">Daytime Fax No:</span>
      <div class="input-line" data-field="daytime_fax_no">{{ daytime_fax_no }}</div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <span class="label-text">E-mail (Professional E-mail Only):</span>
      <div class="input-line" data-field="e_mail">{{ e_mail }}</div>
    </div>
    <div class="form-group">
      <span class="label-text">Daytime Phone No:</span>
      <div class="input-line" data-field="daytime_phone_no">{{ daytime_phone_no }}</div>
    </div>
  </div>

  <p style="margin-top: 30px;"><strong>Note:</strong> <span data-field="proctor_note">{{ proctor_note }}</span></p>

  <div class="form-row" style="margin-bottom: 20px;">
    <div class="form-group">
      <input type="checkbox" style="margin-right: 10px;">
      Proctoring fee: <div class="input-line" style="width: 150px;" data-field="note">{{ note }}</div> if any.
    </div>
  </div>

  <div class="form-row" style="margin-bottom: 20px;">
    <div class="form-group" style="width: 100%;">
      <input type="checkbox" style="margin-right: 10px;">
      I have had contact with the above named student and I agree to protect the examination(s) for this student in accordance with the directions provided by Louisiana Tech Department of Health Informatics & Information Management Proctoring Guidelines. I am not a friend or relative of the student, nor am I a current Louisiana Tech student. I agree to verify the student's identification (ID) when proctoring, and I have reviewed Proctoring Guidelines, which are available at: <a href="http://hmi.latech.edu/documents/proctor_guidelines.pdf">http://hmi.latech.edu/documents/proctor_guidelines.pdf</a>
    </div>
  </div>

  <div class="form-row" style="margin-bottom: 20px;">
    <div class="form-group" style="width: 100%;">
      <input type="checkbox" style="margin-right: 10px;">
      I will provide a quiet, distraction free place in which the student may take the exam, and I will make basic equipment (i.e. desk, chair, and computer) and materials available to take the exam. I will stay in the exam room or in a nearby area during the testing process. I will personally e-mail or fax the completed exam(s) to the Louisiana Tech Health Informatics & Information Management immediately following completion.
    </div>
  </div>

  <div class="form-row" style="margin-bottom: 30px;">
    <div class="form-group" style="width: 100%;">
      <input type="checkbox" style="margin-right: 10px;">
      I certify that the information on this form is true and complete and I understand that inaccurate or misleading information may affect the student's academic status. I also agree to notify the Louisiana Tech Health Informatics & Information Management immediately if any of the above information or circumstances change.
    </div>
  </div>

  <div class="signature-block">
    <div class="signature-area">
      <p>Proctor's Signature:</p>
      <div class="signature-line" data-field="proctor_s_signature">{{ proctor_s_signature }}</div>
      <p style="margin-top: 5px;">Date:</p>
      <div class="input-line" style="width: 150px;" data-field="date">{{ date }}</div>
    </div>
    <div class="signature-area">
      <p>Student's Signature:</p>
      <div class="signature-line" data-field="student_s_signature">{{ student_s_signature }}</div>
    </div>
  </div>

  <div style="margin-top: 60px; font-size: 10pt;">
    <p>Louisiana Tech University</p>
    <p>Department of Health Informatics & Information Management</p>
    <p>P.O. Box 3171, Ruston, LA 71272</p>
    <p>Phone: <span data-field="phone_number">{{ phone_number }}</span></p>
    <p>Fax: <span data-field="fax_number">{{ fax_number }}</span></p>
    <p>E-mail: <span data-field="email_address">{{ email_address }}</span></p>
  </div>
</div>