<!DOCTYPE html>
<html>
<head>
<title>Cyber Security Notification</title>
<style>
  @page { size: A4; margin: 0; }
  .page {
    width: 794px; height: 1123px;
    padding: 50px 60px; box-sizing: border-box;
    overflow: hidden; page-break-after: always;
    position: relative;
    font-family: "DejaVu Serif", "Liberation Serif", Georgia, "Helvetica", Arial, "DejaVu Sans", "Liberation Sans";
  }
  .page:last-child { page-break-after: auto; }
  table { width: 100%; border-collapse: collapse; margin-bottom: 20px; }
  td { padding: 5px 0; }
</style>
</head>
<body>
<div class="page">
    <table>
        <tr>
            <td style="width: 20%;">ABB</td>
            <td style="text-align: right;">Cyber Security Notification</td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="width: 20%;">ABB Doc Id: <span data-field="document_id">{{ document_id }}</span></td>
            <td style="width: 20%;">Date: <span data-field="date">{{ date }}</span></td>
            <td style="width: 20%;">Lang.: <span data-field="language">{{ language }}</span></td>
            <td style="width: 20%;">Rev.: <span data-field="revision">{{ revision }}</span></td>
            <td style="width: 20%;">Page: <span data-field="page_number">{{ page_number }}</span></td>
        </tr>
    </table>

    <h1 style="font-size: 20pt; margin-top: 40px;">Cyber Security Notification - Meltdown & Spectre</h1>

    <p style="margin-top: 20px;">Update Date: <span data-field="update_date">{{ update_date }}</span></p>

    <h2 style="font-size: 14pt; margin-top: 30px;">Notice</h2>
    <p style="text-align: justify;">The information in this document is subject to change without notice, and should not be construed as a commitment by ABB.</p>
    <p style="text-align: justify;">ABB provides no warranty, express or implied, including warranties of merchantability and fitness for a particular purpose, for the information contained in this document, and assumes no responsibility for any errors that may appear in this document. In no event shall ABB or any of its suppliers be liable for direct, indirect, special, incidental or consequential damages of any nature or kind arising from the use of this document, or from the use of any hardware or software described in this document, even if ABB or its suppliers have been advised of the possibility of such damages.</p>
    <p style="text-align: justify;">This document and parts hereof must not be reproduced or copied without written permission from ABB, and the contents hereof must not be imparted to a third party nor used for any unauthorized purpose.</p>
    <p style="text-align: justify;">All rights to registrations and trademarks reside with their respective owners.</p>
    <p style="text-align: justify;">Copyright © <span data-field="copyright_year">{{ copyright_year }}</span> ABB. All rights reserved.</p>
</div>

<div class="page">
    <table>
        <tr>
            <td style="width: 20%;">ABB</td>
            <td style="text-align: right;">Cyber Security Notification</td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="width: 20%;">ABB Doc Id: <span data-field="document_id">{{ document_id }}</span></td>
            <td style="width: 20%;">Date: <span data-field="date">{{ date }}</span></td>
            <td style="width: 20%;">Lang.: <span data-field="language">{{ language }}</span></td>
            <td style="width: 20%;">Rev.: <span data-field="revision">{{ revision }}</span></td>
            <td style="width: 20%;">Page: <span data-field="page_number">{{ page_number }}</span></td>
        </tr>
    </table>

    <p style="margin-top: 30px;">The vulnerabilities do not target any ABB products specifically, but potentially affect products that use affected processors in general.</p>

    <h2 style="font-size: 14pt; margin-top: 30px;">Recommended immediate actions</h2>
    <p style="margin-bottom: 15px;">ABB recommends to strictly follow the guidelines as published in the relevant documentation of the respective product(s).</p>
    <p style="font-weight: bold;">Additional recommendations:</p>
    <ul>
        <li>Networks used for Industrial Control Systems should always be segregated from enterprise and/or public networks.</li>
        <li>Install validated patches according to ABB's patch qualification and further product specific recommendations.</li>
        <li>Install the updated virus definition files for the recommended / supported malware protection solution.</li>
        <li>Prevent or reduce the execution of external code on Industrial Control Systems.</li>
    </ul>

    <h2 style="font-size: 14pt; margin-top: 30px;">Product related recommended immediate actions</h2>
    <p style="margin-bottom: 15px;">The following product specific notifications are available:</p>
    <ul>
        <li>
            <p>SECURITY Notification - Meltdown & Spectre, impact on System 800XA, <a href="http://search.abb.com/library/Download.aspx?DocumentID=3BSE091052&LanguageCode=en&DocumentPartId=&Action=Launch">http://search.abb.com/library/Download.aspx?DocumentID=3BSE091052&LanguageCode=en&DocumentPartId=&Action=Launch</a>.</p>
            <p>This document and more relevant information is available for registered users on <a href="myABB/My Control System">myABB/My Control System</a>.</p>
        </li>
        <li>
            <p>Cyber Security Notification - Meltdown & Spectre, impact on Symphony Plus, <a href="http://search.abb.com/library/Download.aspx?DocumentID=8VZZ00522&LanguageCode=en&DocumentPartId=&Action=Launch">http://search.abb.com/library/Download.aspx?DocumentID=8VZZ00522&LanguageCode=en&DocumentPartId=&Action=Launch</a>.</p>
            <p>This document and more relevant information is available for registered users on <a href="myABB/My Control System">myABB/My Control System</a>.</p>
        </li>
        <li>
            <p>Cyber Security Notification - Meltdown & Spectre, impact on MicroSCADA Pro products, <a href="http://search.abb.com/library/Download.aspx?DocumentID=1MRS257754&LanguageCode=en&DocumentPartId=&Action=Launch">http://search.abb.com/library/Download.aspx?DocumentID=1MRS257754&LanguageCode=en&DocumentPartId=&Action=Launch</a>.</p>
        </li>
        <li>
            <p>SECURITY Notification - Meltdown & Spectre, impact on Freelance, <a href="http://search.abb.com/library/Download.aspx?DocumentID=2PAA117368D00&LanguageCode=en&DocumentPartId=&Action=Launch">http://search.abb.com/library/Download.aspx?DocumentID=2PAA117368D00&LanguageCode=en&DocumentPartId=&Action=Launch</a>.</p>
            <p>This document and more relevant information is available for registered users on <a href="myABB/My Control System">myABB/My Control System</a>.</p>
        </li>
    </ul>
</div>

<div class="page">
    <table>
        <tr>
            <td style="width: 20%;">ABB</td>
            <td style="text-align: right;">Cyber Security Notification</td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="width: 20%;">ABB Doc Id: <span data-field="document_id">{{ document_id }}</span></td>
            <td style="width: 20%;">Date: <span data-field="date">{{ date }}</span></td>
            <td style="width: 20%;">Lang.: <span data-field="language">{{ language }}</span></td>
            <td style="width: 20%;">Rev.: <span data-field="revision">{{ revision }}</span></td>
            <td style="width: 20%;">Page: <span data-field="page_number">{{ page_number }}</span></td>
        </tr>
    </table>

    <ul style="list-style-type: disc; margin-top: 30px;">
        <li>
            <p>TECHNICAL ANNOUNCEMENT Windows updates cause data communication problems with ABB Ability™ Operations Data Management Zenon,</p>
            <p><a href="https://search.abb.com/library/Download.aspx?DocumentID=9AKK107045A8623&LanguageCode=en&DocumentPartId=&Action=Launch">https://search.abb.com/library/Download.aspx?DocumentID=9AKK107045A8623&LanguageCode=en&DocumentPartId=&Action=Launch</a></p>
        </li>
    </ul>

    <h2 style="font-size: 14pt; margin-top: 30px;">Support</h2>
    <p style="text-align: justify;">For additional information and support please contact your local ABB service organization. For contact information, see <a href="https://www.abb.com/contact-centers">https://www.abb.com/contact-centers</a>.</p>
    <p style="text-align: justify;">Information about ABB's cyber security program and capabilities can be found at <a href="https://www.abb.com/cybersecurity">https://www.abb.com/cybersecurity</a>.</p>

    <p style="margin-top: 50px; text-align: center;">We reserve all rights in this document and in the information contained therein. Reproduction, use or disclosure to third parties without express authority is strictly forbidden.</p>
    <p style="text-align: center;">© ABB</p>
</div>
</body>
</html>