<style>
  @page { size: A4; margin: 0; }
  .page {
    width: 794px; height: 1123px;
    padding: 50px 60px; box-sizing: border-box;
    overflow: hidden; page-break-after: always;
    position: relative;
  }
  .page:last-child { page-break-after: auto; }
  /* Basic styling to mimic document structure */
  body { font-family: "Liberation Serif", "DejaVu Serif", Georgia, serif; }
  h1, h2, h3 { text-align: center; }
  table { width: 100%; border-collapse: collapse; margin-bottom: 20px; }
  td { padding: 5px 0; }
  .form-row { display: flex; justify-content: space-between; margin-bottom: 10px; }
  .form-group { width: 48%; }
  .signature-line { margin-top: 80px; }
</style>

<div class="page">
  <div style="text-align: right;">
    <span data-field="logo_placeholder">{{ logo_placeholder }}</span>
    <div style="font-size: 10pt;">EDgewood College</div>
  </div>
  <h1 style="text-align: center; margin-top: 40px;">CONSENT FOR RELEASE OF CONFIDENTIAL INFORMATION</h1>
  <div style="text-align: center; margin-bottom: 30px;">
    <span data-field="organization.name">{{ organization.name }}</span><br>
    <span data-field="organization.address_line1">{{ organization.address_line1 }}</span><br>
    <span data-field="organization.city_state_zip">{{ organization.city_state_zip }}</span>
  </div>

  <h3 style="margin-top: 30px;">Individual who is subject of record:</h3>
  <table>
    <tr>
      <td style="width: 15%;">Name:</td>
      <td style="width: 35%;"><span data-field="individual.full_name">{{ individual.full_name }}</span></td>
      <td style="width: 15%;">Edgewood ID #:</td>
      <td style="width: 35%;"><span data-field="individual.id_number">{{ individual.id_number }}</span></td>
    </tr>
    <tr>
      <td>Address:</td>
      <td colspan="3;"><span data-field="individual.address">{{ individual.address }}</span></td>
    </tr>
    <tr>
      <td style="width: 15%;">City:</td>
      <td style="width: 35%;"><span data-field="individual.city">{{ individual.city }}</span></td>
      <td style="width: 15%;">State:</td>
      <td style="width: 35%;"><span data-field="individual.state">{{ individual.state }}</span></td>
    </tr>
    <tr>
      <td>Phone:</td>
      <td colspan="3;"><span data-field="individual.phone">{{ individual.phone }}</span></td>
    </tr>
  </table>

  <h3 style="margin-top: 30px;">Name and address of agency, organization, or individual being authorized to release information:</h3>
  <table>
    <tr>
      <td style="width: 15%;">Name:</td>
      <td style="width: 35%;"><span data-field="authorized_party.name">{{ authorized_party.name }}</span></td>
      <td style="width: 15%;">Organization:</td>
      <td style="width: 35%;"><span data-field="authorized_party.organization">{{ authorized_party.organization }}</span></td>
    </tr>
    <tr>
      <td>Address:</td>
      <td colspan="3;"><span data-field="authorized_party.address">{{ authorized_party.address }}</span></td>
    </tr>
    <tr>
      <td style="width: 15%;">City:</td>
      <td style="width: 35%;"><span data-field="authorized_party.city">{{ authorized_party.city }}</span></td>
      <td style="width: 15%;">State:</td>
      <td style="width: 35%;"><span data-field="authorized_party.state">{{ authorized_party.state }}</span></td>
    </tr>
    <tr>
      <td>Phone:</td>
      <td style="width: 35%;"><span data-field="authorized_party.phone">{{ authorized_party.phone }}</span></td>
      <td style="width: 35%;">Fax:</td>
      <td style="width: 35%;"><span data-field="authorized_party.fax">{{ authorized_party.fax }}</span></td>
    </tr>
  </table>

  <h3 style="margin-top: 30px;">Information May Be Released to:</h3>
  <div style="margin-top: 15px;">
    <p>Organization: <span data-field="release_recipient.organization">{{ release_recipient.organization }}</span></p>
    <p>Address: <span data-field="release_recipient.address">{{ release_recipient.address }}</span></p>
    <p>City, State, Zip: <span data-field="release_recipient.city_state_zip">{{ release_recipient.city_state_zip }}</span></p>
    <p>Phone: <span data-field="release_recipient.phone">{{ release_recipient.phone }}</span> Fax: <span data-field="release_recipient.fax">{{ release_recipient.fax }}</span></p>
  </div>

  <h3 style="margin-top: 30px;">Type of Information Requested:</h3>
  <div style="margin-top: 15px;">
    <label><input type="checkbox"> Level of current psychological functioning</label><br>
    <label><input type="checkbox"> Treatment recommendations</label><br>
    <label><input type="checkbox"> Summary of treatment</label><br>
    <label><input type="checkbox"> Medical Records</label><br>
    <label><input type="checkbox"> Other information:</label>
  </div>

  <p style="margin-top: 40px; font-size: 10pt;">By signing below, I hereby authorize disclosure of written and verbal information to the person(s) as specified above. Authorization expires <span data-field="expiration_date">{{ expiration_date }}</span> month(s) from the date of signature. I have the right to revoke this permission with a 24 hour notice.</p>

  <div class="signature-line">
    <p style="margin-bottom: 5px;">Signature</p>
    <div style="border-bottom: 1px solid black; width: 200px;" data-field="signature">{{ signature }}</div>
    <p style="margin-top: 60px;">Date</p>
    <div style="border-bottom: 1px solid black; width: 200px;" data-field="date">{{ date }}</div>
  </div>
</div>