<!DOCTYPE html>
<html>
<head>
<title>Directory</title>
<style>
  @page { size: A4; margin: 0; }
  .page {
    width: 794px; height: 1123px;
    padding: 50px 60px; box-sizing: border-box;
    overflow: hidden; page-break-after: always;
    position: relative;
  }
  .page:last-child { page-break-after: auto; }
  body {
    font-family: "DejaVu Serif", "Liberation Serif", Georgia, "Helvetica", Arial, sans-serif;
    line-height: 1.4;
  }
</style>
</head>
<body>
<div class="page">
  <div style="text-align: center; margin-bottom: 30px;">
    <img src="placeholder_logo.png" alt="Purdue Logo" style="height: 50px; margin-bottom: 10px;">
    <h1 style="font-size: 24pt; margin: 0;">PURDUE</h1>
    <h2 style="font-size: 16pt; margin: 0;">Extension County Offices</h2>
  </div>
  <p style="text-align: right; font-size: 10pt; margin-bottom: 30px;">Last Updated <span data-field="last_updated_date">{{ last_updated_date }}</span></p>

  <table style="width: 100%; border-collapse: collapse; font-size: 11pt;">
    <tbody>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Adams</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">260-724-5322</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Hamilton</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">317-776-0854</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Allen</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">260-481-6826</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Harrison</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">812-738-4236</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Bartholomew</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">812-379-1665</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Hendricks</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">317-745-9260</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Benton</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">765-884-0140</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Henry</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">765-529-5002</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Blackford</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">765-348-3213</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Howard</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">765-456-2313</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Boone</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">765-482-0750</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Huntington</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">260-358-4826</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Brown</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">812-988-5495</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Jackson</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">812-358-6101</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Carroll</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">574-967-3538</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Jasper</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">219-866-5741</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Cass</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">574-753-7750</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Jay</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">260-266-4707</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Clark</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">812-256-4591</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Jefferson</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">812-265-8919</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Clay</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">812-448-9041</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Jennings</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">812-352-3033</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Clinton</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">765-659-6380</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Johnson</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">317-736-3724</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Crawford</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">812-338-5466</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Knox</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">812-882-3509</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Davies</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">812-254-8668</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Kosciuszko</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">574-372-2340</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Dearborn</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">812-926-1189</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">LaGrange</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">260-499-6334</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Decatur</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">812-663-8388</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Lake</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">219-755-3240</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">DeKalb</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">260-925-2562</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">LaPorte</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">219-324-9407</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Delaware</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">765-747-7732</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Lawrence</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">812-275-4623</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Dubois</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">812-482-1782</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Madison</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">765-641-9514</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Elkhart</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">574-533-0554</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Marion</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">317-275-9305</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Fayette</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">765-825-8502</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Marshall</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">574-935-8545</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Floyd</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">812-948-5470</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Martin</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">812-295-2412</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Fountain</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">765-793-6240</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Miami</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">765-472-1921</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Franklin</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">765-647-3511</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Monroe</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">812-349-2575</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Fulton</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">574-223-3397</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Montgomery</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">765-364-6363</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Gibson</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">812-385-3491</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Morgan</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">765-342-1010</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Grant</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">765-651-2413</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Newton</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">219-285-8620</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Greene</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">812-659-2122</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Noble</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">260-636-2111</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="page">
  <div style="text-align: center; margin-bottom: 30px;">
    <img src="placeholder_logo.png" alt="Purdue Logo" style="height: 50px; margin-bottom: 10px;">
    <h1 style="font-size: 24pt; margin: 0;">PURDUE</h1>
    <h2 style="font-size: 16pt; margin: 0;">Extension County Offices</h2>
  </div>
  <p style="text-align: right; font-size: 10pt; margin-bottom: 30px;">Last Updated <span data-field="last_updated_date">{{ last_updated_date }}</span></p>

  <table style="width: 100%; border-collapse: collapse; font-size: 11pt;">
    <tbody>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Ohio</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">812-438-3656</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Steuben</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">260-668-1000</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Orange</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">812-723-7107</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Sullivan</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">812-268-4332</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Owen</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">812-829-5020</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Switzerland</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">812-427-3152</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Parke</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">765-569-3176</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Tippecanoe</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">765-474-0793</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Perry</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">812-547-7084</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Tipton</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">765-675-1177</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Pike</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">812-354-6838</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Union</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">765-458-5055</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Porter</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">219-465-3555</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Vanderburgh</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">812-435-5287</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Posey</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">812-838-1331</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Vermillion</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">765-492-5330</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Pulaski</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">574-946-3412</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Vigo</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">812-462-3371</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Putnam</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">765-653-8411</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Wabash</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">260-563-0661</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Randolph</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">765-584-2271</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Warren</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">765-762-3231</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Ripley</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">812-689-6511</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Warwick</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">812-897-6101</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Rush</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">765-932-5974</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Washington</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">812-883-4601</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">St. Joseph</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">574-235-9604</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Wayne</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">765-973-9281</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Scott</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">812-752-8450</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Wells</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">260-824-6412</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Shelby</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">317-392-6460</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">White</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">219-984-5115</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Spencer</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">812-362-8066</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">Whitley</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;">260-244-7615</td>
      </tr>
      <tr>
        <td style="width: 30%; padding: 4px 0;">Starke</td>
        <td style="width: 30%; padding: 4px 0; text-align: right;">574-772-9141</td>
        <td style="width: 40%; padding: 4px 0; text-align: right;"></td>
        <td style="width: 40%; padding: 4px 0; text-align: right;"></td>
      </tr>
    </tbody>
  </table>

  <div style="text-align: center; margin-top: 50px; font-size: 9pt;">
    PURDUE UNIVERSITY IS AN EQUAL ACCESS/EQUAL OPPORTUNITY INSTITUTION
  </div>
</div>
</body>
</html>