<!DOCTYPE html>
<html>
<head>
    <title>Conference Information</title>
    <style>
        @page { size: A4; margin: 0; }
        .page {
            width: 794px; height: 1123px;
            padding: 50px 60px; box-sizing: border-box;
            overflow: hidden; page-break-after: always;
            position: relative;
            font-family: "DejaVu Serif", "Liberation Serif", Georgia, "Times New Roman", serif;
        }
        .page:last-child { page-break-after: auto; }
        h1, h2, h3 {
            font-family: "DejaVu Sans", "Liberation Sans", Arial, sans-serif;
            font-weight: bold;
        }
        p, li {
            font-family: "DejaVu Serif", "Liberation Serif", Georgia, "Times New Roman", serif;
            line-height: 1.5;
        }
        .section-title {
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .hotel-info {
            margin-bottom: 20px;
        }
        .list-item {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="page">
        <p>Welcome to Rutgers University in New Brunswick</p>
        <p>Dear Members and Friends of the American Association for Chinese Studies,</p>
        <p>
            <span data-field="research_center_name">{{ research_center_name }}</span> at Rutgers University School of Social Work is honored to host your 2013 annual convention. We look forward to welcoming you to New Brunswick, New Jersey.
        </p>
        <p>
            Rutgers University was established in 1766, and is the only public New Jersey school that is part of the Association of American Universities' 61 leading research universities. Rutgers University has three campuses (New Brunswick, Camden and Newark) and is comprised of 28 schools and colleges with more than <span data-field="student_count">{{ student_count }}</span> students from all 50 states and 125 countries.
        </p>
        <p>
            New Brunswick is situated on the banks of the Raritan River in Middlesex County, New Jersey, 31 miles southeast of New York City and 20 miles south of Newark International Airport. New Brunswick is home to <span data-field="historical_landmark_1">{{ historical_landmark_1 }}</span>, the world's largest health care products manufacturer established in 1885. New Brunswick has many historical sites, such as the State Theatre, Joyce Kilmer House, Jane Voorhees Zimmerli Art Museum, NJ Agricultural museum, Crossroads Theatre, George Street Playhouse, Rutgers Gardens, and more.
        </p>
        <p>
            We at Rutgers University School of Social Work, and I personally, look forward to welcoming you to New Brunswick, working to make your annual convention a success, and ensuring that your stay in New Brunswick is enjoyable.
        </p>
        <p>Sincerely,</p>
        <p>
            <span data-field="signer_name">{{ signer_name }}</span><br>
            <span data-field="signer_title">{{ signer_title }}</span><br>
            <span data-field="signer_department">{{ signer_department }}</span><br>
            <span data-field="signer_institution">{{ signer_institution }}</span><br>
            <span data-field="signer_university">{{ signer_university }}</span>
        </p>

        <div class="section-title">Conference Meeting Rooms:</div>
        <p>Rutgers University, New Brunswick campus, which is a walking distance from hotel.</p>
    </div>

    <div class="page">
        <div class="section-title">Conference Hotel:</div>
        <div class="hotel-info">
            <p>Heldrich Hotel</p>
            <p>10 Livingston Avenue, New Brunswick, NJ <span data-field="zip_code">{{ zip_code }}</span></p>
            <p>Telephone: (<span data-field="phone_area_code">{{ phone_area_code }}</span>) <span data-field="phone_number">{{ phone_number }}</span></p>
            <p><a href="http://www.theheldrich.com/default.asp">http://www.theheldrich.com/default.asp</a></p>
        </div>
        <p>Room rate: <span data-field="room_rate">{{ room_rate }}</span>, plus tax = <span data-field="total_rate">{{ total_rate }}</span>. Breakfast not included.</p>
        <p>Amenities: Complimentary Wireless High Speed Internet Access, on-site fitness center and swimming pool. When you make hotel reservation, please refer to the group rate of the AACS setup by Rutgers University.</p>
        <p>To book hotel online, visit TheHeldrich.com and click on the <span data-field="check_availability_link">{{ check_availability_link }}</span> button, which will open the <span data-field="calendar_booking_link">{{ calendar_booking_link }}</span> screen. Select the Group Code option, located below the banner logo. Input your Group Attendee Code <span data-field="group_code">{{ group_code }}</span> and then click the <span data-field="update_button">{{ update_button }}</span> button. Select your Arrival and Departure Dates and the number of guests and then click <span data-field="continue_button">{{ continue_button }}</span>. Select your preferred Bed Type, fill in the appropriate Information Fields, and then click Submit.</p>
        <p>If you require telephone assistance with your reservation please dial 866-609-4700 between 8 AM and 8 PM EST and give the reservation agent Group Attendee Code <span data-field="group_code_2">{{ group_code_2 }}</span> to make the reservation.</p>
        <p>Reservations utilizing the group code must be made by <span data-field="reservation_deadline">{{ reservation_deadline }}</span>.</p>

        <div class="section-title">Directions to the Heldrich Hotel</div>

        <div class="list-item">
            <p><strong>1. By Air</strong></p>
            <p>Newark Liberty International Airport</p>
            <p>Newark Liberty International Airport [Airport Code: EWR] is conveniently located approximately 25 minutes from The Heldrich and is easily accessible by car and rail. The airport is served by most major airlines and offers non-stop service to major domestic and international airports. For more information on Newark Liberty International Airport please click here.</p>
        </div>

        <div class="list-item">
            <p><strong>AirTrain service to Newark Airport</strong></p>
            <p>Access to and from Newark Liberty International Airport is now even easier with the</p>
        </div>

        <div class="list-item">
            <p><strong>AirTrain from Newark Airport to The Heldrich</strong></p>
            <ul>
                <li>After claiming your bags, proceed to the AirTrain station located in your terminal.</li>
                <li>Board the AirTrain in the direction of the RailLink station. (There is no charge to ride the AirTrain)</li>
                <li>At the RailLink station, proceed to the NJ Transit ticket vending area.</li>
                <li>Purchase a ticket to the New Brunswick Station from a ticket vending machine. The fare is <span data-field="airtrain_fare">{{ airtrain_fare }}</span> one way and the machines accept cash and credit/debit cards.</li>
                <li>Proceed through the tunnels to the boarding platforms. Be sure to retain your ticket as you will need to show it to the conductor aboard the train.</li>
                <li>Follow the signs to the platform for the NJ Transit Northeast Corridor line to Trenton. Board the next available train.</li>
                <li>Exit the train at the New Brunswick station.</li>
                <li>The New Brunswick station is located approximately 4 blocks from The Heldrich and transportation may be arranged by contacting the hotel in advance.</li>
                <li>To walk to The Heldrich, cross Albany Street and proceed left to George Street. Turn right on George Street and continue to Livingston Avenue. The hotel will be on your right.</li>
            </ul>
        </div>

        <div class="list-item">
            <p><strong>AirTrain to Newark Airport from The Heldrich</strong></p>
            <ul>
                <li>Be sure to allow ample time for the train ride to the airport station. Times vary from 28 minutes for an express train to 37 minutes for a local train. Also allow for approximately 10 minutes for the AirTrain ride from the station to the terminals.</li>
                <li>Purchase a ticket at the New Brunswick station for Newark Liberty International Airport. (Do not confuse the airport station with Newark Penn Station, which does not serve the airport)</li>
                <li>Follow the platform signs for northbound trains to New York and await the next NJ Transit train.</li>
                <li>Be sure to retain your ticket in a convenient place as you will need it to exit the airport station.</li>
                <li>Exit the train at the Newark Liberty International Train station and follow the signs to the AirTrain platform.</li>
                <li>All AirTrains from the station return to the airport, so you may board any train on the platform.</li>
                <li>Consult the maps on the platform or within the train car for the correct terminal for</li>
            </ul>
        </div>
    </div>

    <div class="page">
        <p>your airline.</p>

        <div class="list-item">
            <p><strong>Car (around <span data-field="car_cost_1">{{ car_cost_1 }}</span> and more) and Shuttle service (between <span data-field="shuttle_cost_1">{{ shuttle_cost_1 }}</span> and <span data-field="shuttle_cost_2">{{ shuttle_cost_2 }}</span>) can be arranged from Newark Airport to The Heldrich via</strong></p>
            <p>Gem Limo: <span data-field="gem_limo_phone">{{ gem_limo_phone }}</span> or <span data-field="gem_limo_web">{{ gem_limo_web }}</span></p>
            <p>Dial 7 Car Service: <span data-field="dial_7_phone">{{ dial_7_phone }}</span> or <span data-field="dial_7_web">{{ dial_7_web }}</span></p>
            <p>State Shuttle bus: <span data-field="state_shuttle_phone">{{ state_shuttle_phone }}</span> or <span data-field="state_shuttle_web">{{ state_shuttle_web }}</span></p>
        </div>

        <div class="list-item">
            <p><strong>2. By Car</strong></p>
            <p><strong>From New Jersey Turnpike (northbound or southbound)</strong></p>
            <ul>
                <li>Take Exit 9 (New Brunswick)</li>
                <li>Follow signs for Route 18 North</li>
                <li>Exit Route 18 at New Street</li>
                <li>Proceed to third traffic light and turn right onto Livingston Avenue</li>
                <li>Hotel entrance will be on your right.</li>
            </ul>
            <p><strong>From Route 1 (northbound or southbound)</strong></p>
            <ul>
                <li>Exit Route 1 at Route 18 North</li>
                <li>Take Route 18 North and follow above directions</li>
            </ul>
            <p><strong>From Garden State Parkway (northbound or southbound)</strong></p>
            <ul>
                <li>Take Exit 129 and follow signs for New Jersey Turnpike South</li>
                <li>Follow directions above</li>
            </ul>
            <p><strong>From I-287 Southbound</strong></p>
            <ul>
                <li>Take Exit 10 for CR-527/Easton Avenue</li>
                <li>Bear right and follow signs to New Brunswick</li>
                <li>Follow Easton Avenue until it ends at Albany Street.</li>
                <li>Turn left on Albany Street</li>
                <li>Turn right at 1st light on to George Street</li>
                <li>Turn right at 4th light on to Livingston Avenue</li>
                <li>Hotel entrance is immediately on your left</li>
            </ul>
        </div>

        <div class="list-item">
            <p><strong>3. By Rail</strong></p>
            <p><strong>New Jersey Transit</strong></p>
            <p>New Brunswick is located along New Jersey Transit's Northeast Corridor line with service from Trenton, NJ to Pennsylvania Station in New York City. Connecting service is available to all other NJ Transit lines at Secaucus Junction, the AirTrain at Newark International Airport, the New York City Subway, the Long Island Rail Road and Amtrak. Tickets may be purchased at the station. For schedule and fare information, please visit <span data-field="nj_transit_website">{{ nj_transit_website }}</span>. The New Brunswick station is located approximately 4 blocks from The Heldrich.</p>
            <p><strong>Amtrak</strong></p>
            <p>The New Brunswick Station has limited service from Amtrak on its Regional Line between Washington, DC and Boston, MA. More frequent service is available by connecting to the NJ Transit Northeast Corridor Line at either the Trenton, NJ Station (from points south) or the Metropark Station (from points North). Please visit <span data-field="amtrak_website">{{ amtrak_website }}</span> for fare and schedule information.</p>
        </div>
    </div>
</body>
</html>